.labelOrTextCTC {
    width: 3.8125em;
    height: 0.9375em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375em;
    color: #1F2041;
}