.column {
    position: absolute;
    left: 380px;
    top: 349px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnNumbers {
    width: 40px;
    height: 40px;

    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
}

/* .numbers {} */

.btnNumbersChecked {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
}

/* .numbersChecked {} */

.btnArrow {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
}

.arrow {
    width: 24px;
    height: 24px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;

    color: #FFFFFF;

    display: flex;
    align-items: center;
}