label {
  float: left;/* элемент должен плавать слева от содержащего его блока */
}

.customRadio [type="radio"]:checked,
.customRadio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.customRadio [type="radio"]:not(:checked)+.customRadio__label,
.customRadio [type="radio"]:checked+.customRadio__label{
  position: relative;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.customRadio [type="radio"]:not(:checked)+.customRadio__label{color: rgba(31, 32, 65, 0.5);}
.customRadio [type="radio"]:checked+.customRadio__label{color: rgba(31, 32, 65, 0.75);}

/* рамка серая*/
.customRadio [type="radio"]:not(:checked)+.customRadio__label:before,
 .customRadio [type="radio"]:checked+.customRadio__label:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #fff;
}
.customRadio [type="radio"]:not(:checked)+.customRadio__label:before{ border: 1px solid rgba(31, 32, 65, 0.25);}
.customRadio [type="radio"]:checked+.customRadio__label:before{border: 1px solid #BC9CFF;}

/* фигма серединка*/
.customRadio [type="radio"]:checked+.customRadio__label:after,
.customRadio [type="radio"]:not(:checked)+.customRadio__label:after { 
  content: ''; 
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.customRadio [type="radio"]:not(:checked)+.customRadio__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.customRadio [type="radio"]:checked+.customRadio__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.spane{
  margin-right: 20px;
}