.input {/* ширина экрана 1280 */
    box-sizing: border-box;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 15px;
    color: rgba(31, 32, 65, 0.75);
    
}

.input::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
.input::-moz-placeholder { color: rgba(31, 32, 65, 0.25); }

.input:hover,
.input:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
}