.buttonFilledLonge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF
}


.iconArrow {
    width: 44px;
    height: 44px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 22px;
    justify-content: center;
     position: absolute;
     left: 300px;
}
