.conteiner{
  max-width: 1160px; /* выставляем блок по центру */
  margin: 0px auto;
  /* для того штобы контент не прилипал при сужении cтавим padding и box-sizing: content-box; */
  padding: 0px 15px;
  box-sizing: content-box;
  /* временно */
  /* background-color: rgb(148, 143, 143); */
  /* margin-top: 170px; */
  
}

@media (max-width: 1160) {
  .conteiner {
    max-width: 970px;
  }
}
/* брэйк-поинт, медиа запрос срабатывает при сужении экрана */
@media (max-width: 1160){
  .conteiner{
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .conteiner {
    max-width: 750px;
  }
}
@media (max-width:767px) {
  .conteiner {
    max-width: none;
  }
}

/* дополнительно сделать меню "бургер" */
/* при сжатии экрана большие менюшки прятать в дропдаун чтобы не сильно длинной была страничка */
/* уменьшаем отступы пользуясь брэйк-поинтами, чтобы при сжатии всё выглядело аккуратно */
/* так жже необходимо помнить про уменьшение шрифта при изменении экрана */
/* размеры навигационного элементов и меню наоборот можно увеличить чтобы пальцом реально можно было попасть примерно 40х40px это достаточая ширина*/


/* Теория 
 @media запросы могут удовлитворить разные потребности: ориентацию экрана, монохромность или цветной, размеры
 @media условие при котором будет выводиться тот или инной стиль и первая группа условий это тип устройства
 @media all{// значение all подходит для всех типов устройств и являеется по умолчанию
// описание стилей
 }
 @media print(){}к документам предводительной печати
 @media screen() {} для цветных мониторов компьетера
 @media speech() {} для различных синтезаторов речи
значения:
  @media (orientation:portrait){}//портретная ориентация
  @media (orientation:landscape) {}//aльбомная ориентация
  @media (resolution:300dpi) {} //разрешение экрана(кол-во точек на дюйм) так же есть max-resolution min-resolution
  @media (monochrome) {}// когда сайт откроется на ч/б экране


 */

 