.buttonFilledRound {
    width: 3em;
    height: 3em;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2em;
    border: none;
}
.spanFilledRound{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}
