.buttonFilled {
    display: inline-block;

    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
    padding: 0px 20px;

}

.buttonFilled:hover {
    opacity: 0.5;
}