.buttonEmpty {
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonEmptyText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    background: #fff;
    border-radius: 34px;
    height: 41px;
    width: 95px;
    border: none;
}
