.buttonEmpty {
    width: 99px;
    height: 44px;
    left: 979px;
    top: 336px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;/* identical to box height */
    color: #BC9CFF;
    box-sizing: border-box;
    position: absolute;
    border-radius: 22px;

}