.button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.star_filed {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;

  -webkit-text-fill-color: transparent;
  
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  width: 30px;
  background-clip: text;

  -webkit-text-stroke-color: #a3a0fc;
  -webkit-text-stroke-width: 2px;
}

.star_border {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #a3a0fc;
  -webkit-text-stroke-width: 2px;

  border: none;
  background: inherit;
  width: 30px;
}