.row{
  display: flex;
  align-items: center;
}

.button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.star_filed {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;

  -webkit-text-fill-color: transparent;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  width: 30px;
  background-clip: text;

  -webkit-text-stroke-color: #a3a0fc;
  -webkit-text-stroke-width: 2px;
}

.star_border {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #a3a0fc;
  -webkit-text-stroke-width: 2px;

  border: none;
  background: inherit;
  width: 30px;
}

.number,.reviews {
  
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.reviews {
  font-weight: 400;
}
.number{
  font-weight: 700;
  margin-left: 20px;
  align-items: center;
}

