.box_cards {
    box-sizing: border-box;

    position: absolute;
    left: 140px;
    top: 150px;

    width: 380px;
    height: 374px;


    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.box_row{
    display: flex;
    flex-direction: row;
    padding: 21px 30px 0;
    justify-content: space-between;
}
