 .linkLabel {
   width: 3.8125em;
   height: 0.9375em;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 0.75rem;
   line-height: 0.9375em;
   text-transform: uppercase;
   color: #BC9CFF;
   text-decoration: none;
   margin-right: 1.25em;
 }