.box {
    box-sizing: border-box;
    width: 320px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_calendar {
    width: 279.39px;
    height: 240px;
    background: rgb(158, 123, 123);
}

.arrow {
    width: 23.93px;
    height: 24px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BC9CFF;
    justify-content: center;
    border: none;
    background: inherit;
}

.header {
    width: 119px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1F2041;
    margin: 0;
}

.gridContainer {
    display: grid;/*inline-grid; */
    grid: repeat(6, 40px)/repeat(7, 39.5px);/* ряды/столбцы */
    margin: 30px 0 21px
}

.gridWeek {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BC9CFF;
    justify-content: center;

}

.gridMonth {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.25);
    justify-content: center;
    border: none;
    background: inherit;
}

.gridCurrentMonth {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    background: inherit;
}

.styleOnClickOneDay {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: none;
    color: rgb(255, 255, 255);
}

.styleOnClickPeriod {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: none;
    color: rgb(255, 255, 255);
    width: 40px
}

.period {
    background: rgb(229 232 254);
    color: rgba(31, 32, 65, 0.5);
    border: none;
}

.halfLeft {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ffffff 20%, #e5e8fe);
}

.halfRight {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #e5e8fe, #ffffff 80%);
}